
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    
   
    <style>
  body {
  }
  body {
  font-family: 'Roboto', sans-serif;
  color:var(--main-color, black);
  }
  :root {
  --main-color: #212121;
  --secondary-color: #757575;
  --brand-blue: #2196F3;
}
/* color:var(--main-color, black);
 color:var(--secondary-color, grey);
 color:var(--brand-blue, blue); */
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    font-weight: 500;
    /* cursor: pointer; */
    font-size: 14px;
  }
  
  .logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px; 
  }
  .first-logo-part {
    color:var(--brand-blue, blue);
  }
  .white{
    color:#FFFFFF
  }
  .nav-links {
    text-align: center;
  }
  .nav-links :hover, .nav-links :focus{
    color:var(--brand-blue, blue);
  }

  .nav-contact {
    color:var(--secondary-color, grey);
    text-align: right;
  

  } 
  
  .nav-contact:hover, .nav-contact:focus{
    color:var(--brand-blue, blue);
  }
  .header-background{
    background-position: 0px 0px;
    background-size: 1600px 80px;
  }
  
  .main-header {
    background-color: #2F303A;
    background-size: 1600px 600px;
    background-position: 0px 80px;
    color: #FFFFFF;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1,4;
    text-align: center;
    letter-spacing: 0,06em;
    text-transform: uppercase;
  }
  #order{
top: 440px;
font-weight: 700;
font-size: 16px;
line-height: 1,9;
align-items: center;
text-align: center;
letter-spacing: 0,06em;
color: #FFFFFF;
text-transform: none;
background-size: 200px 50px;
background-color:var(--brand-blue, blue);
box-shadow: ;0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
  }
  
  .first-section {
/* font-weight: 400; */
font-size: 14px;
line-height: 1,7;
letter-spacing: 0,03em;
color:var(--secondary-color, grey);
}
 .first-section-header {
font-weight: 700;
font-size: 14px;
line-height: 1,1;
letter-spacing: 0,03em;
color:var(--main-color, black);
text-transform: uppercase;
 }
 .second-section{

 }
 .section-header{
  font-weight: 700;
font-size: 36px;
line-height: 1,2;
letter-spacing: 0,03em;
text-align: center;
 }
 .third-section {
  background-color: #F5F4FA;
  background-size: 1600px 648px;

 }
 .card{
  background-color: #FFFFFF;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1,2;
  text-align: center;
  color:var(--secondary-color, grey);
 }
 .card-header{
  font-weight: 500;
  color:var(--main-color, black);

 }
 .section-footer {
  background-color: #2F303A;

 }
 .footer-address{
   font-style: normal;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1,7;
  color: #FFFFFF;
 }
.footer-contact{
 /* font-weight: 400; */
font-size: 14px;
line-height: 1,7;
color: rgba(255, 255, 255, 0.6);
 }
 /* Nie działa poniższy hover, nie rozumiem dlaczego */
 .footer-contact:hover .footer-contact:focus{
  color:var(--brand-blue, blue);
 }
.footer-contact.underlined{
  text-decoration: underline;
}

 .portfolio-main {
  border-top: #ECECEC;
  background: #E5E5E5;
 }
 .buttons {
  text-align: center;
 }
 .button{
 font-weight: 500;
  font-size: 16px;
  line-height: 1,6;
  text-align: center;
  color:var(--main-color, black);
  cursor: pointer;
 }
 .button:hover, .button:focus{
  border-radius: 4px;
  color: #FFFFFF;
  background-color:var(--brand-blue, blue);
  border-color:var(--brand-blue, blue);
 }
 .product-card{
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1,9;
  color:var(--secondary-color, grey);
}
.product-card-header{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color:var(--main-color, black);
}
    </style>